/*body {*/
/*    font-family: 'Source Code Pro', monospace;*/
/*}*/
.bcontent{
    display: grid;
    grid-template-columns: .15fr 1fr;
    transition: .25s ease-out;
}

.bcontent.bcloseContent{
    display: grid;
    grid-template-columns: .05fr 1fr;
}

/* NAVBAR------------------------------------------------------------------------------------------------------------*/

.mainBar {
    top: 0;
    background-color: #212529;
    position: sticky;
    height: 100dvh;
    transition: .25s ease-out;
}

.mainBar.closeNav{
    height: 100dvh;
    transition: .25s ease-out;
}

.mainBar.closeNav .bNavBar>.navBarList>.mainNavList > a {
    transition: .25s ease-out;
    display: none;
}

.toggleNavBar {
    background-color: #212529;
}

.topBar {
    display: grid;
    grid-template-columns: 1fr .3fr;
    margin: .5rem .5rem 0;
    align-items: center;
}

.userIcon {
    color: white;
}


.bNavBar{
    background-color: #212529;
    display: grid;
    align-content: space-between;
    height: 100%;

}

.mainNavList{
    margin-top: 1rem;
    margin-right: 1rem;
    transition: .25s ease-out;
    border-radius: 15%;
    display: grid;
    grid-template-columns: .25fr 1fr;
    align-items: center;
}

.userIcon a{
    text-decoration: none;
    color: white;

}

.mainNavList a{
    text-decoration: none;
    color: white;

}

.mainNavList:hover {
    background-color: #374151;
}

.navBarList{
    list-style: none;
    margin-top: 0;
    margin-bottom: 8rem;
}


/* CheckList----------------------------------------------------------------------------------------------------------*/

.CheckListMain {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.CheckListHeader{
    background-color: #212529;
    color: white;
    width: 90%;
    margin: .25rem;
    padding: .5rem;
}

.CheckListDetailContainer{
    background-color: #4E5B69;
    width: 90%;
    margin: .1rem;
    padding: .75rem;
    display: grid;
    color:white;
    grid-template-columns: .2fr 1fr;
    border-radius: 1%;
}
